@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-richBlack text-softWhite font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.5);
  }
}